body {
    text-align: center;
    background-color: rgb(183,91,86);
}

.nanum {
    font-family: 'Nanum Gothic', sans-serif;
}

.regular {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}

.section {
    height: 100vh;
}
#intro {

    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
#intro>div.wrap {
    text-align: center;
}

#intro>div.wrap>h1 {
}
